* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(27, 26, 26); */
  color: white;
}

.main {
  width: 405px;
  max-width: 405px;
  min-width: 300px;
  height: 320px;
  border: 5px solid rgb(8, 32, 32);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.538);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.display {
  width: 100%;
  height: 25%;
  border: 1px solid rgb(21, 48, 49);
  background-color: rgb(31, 68, 70);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
}

.display > p {
  color: white;
  font-size: 32px;
  font-weight: 500;
}

.btn {
  display: flex;
}
.btn > button {
  color: white;
  background-color: rgb(21, 48, 49);
  flex: 1;
  height: 47px;
  border: 1px solid rgb(16, 38, 39);
  font-size: 18px;

  box-shadow: 2px 4px 48px -14px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 2px 4px 48px -14px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 2px 4px 48px -14px rgba(0, 0, 0, 0.67);

  cursor: pointer;
}
